@model IEnumerable<NewHuylebronVilla.Domain.Entities.Amenity>
<div class="w-100 card border-0 p-4 shadow-sm">
    <div class="card-header bg-success bg-gradient ml-0 py-3 rounded-top">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"><i class="bi bi-list"></i> Danh Sách Tiện Nghi</h2>
            </div>
        </div>
    </div>
<div class="card-body border p-4 rounded-bottom" style="max-height: 500px; overflow-y: auto;">

    <div class="row pb-3">
        <div class="col-6 text-start">
            <input type="text" id="searchBox" class="form-control w-50" placeholder="🔍 Tìm kiếm biệt thự...">
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Villa" asp-action="Create" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i> Tạo biệt thự Mới
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th><i class="bi bi-hash"></i> Id</th>
            <th><i class="bi bi-card-text"></i> Tên</th>
            <th><i class="bi bi-house"></i> Tên Biệt Thự</th>
            <th><i class="bi bi-gear"></i> Hành Động</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.Villa.Name</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Amenity" asp-action="Update" asp-route-amenityId="@obj.Id"
                           class="btn btn-success mx-2">
                            <i class="bi bi-pencil-square"></i> Sửa
                        </a>
                        <a asp-controller="Amenity" asp-action="Delete" asp-route-amenityId="@obj.Id"
                           class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> Xóa
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</div>



<script>
    // Chức năng tìm kiếm biệt thự
    document.getElementById("searchBox").addEventListener("keyup", function () {
        let searchValue = this.value.toLowerCase();
        let rows = document.querySelectorAll("#villaTable tbody tr");

        rows.forEach(row => {
            let name = row.cells[0].textContent.toLowerCase();
            if (name.includes(searchValue)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>
